.price-and-add-cart {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
}
.price-and-add-cart__price {
  font-family: gte-bold, sans-serif;
  color: red;
  font-size: 22px;
  margin-bottom: 30px;

}

.price-and-add-cart__button-wrapper {
  display: flex;
}
.price-and-add-cart__button {
  background-color: transparent;
  border: none;
  font-family: gte-bold, sans-serif;
  color: white;
  padding: 8px 25px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.price-and-add-cart__button span {
  font-family: gte-reg, sans-serif;
}
.button_blue {
  background-color: #005bff;
}
.button_green {
  background-color: #3ac267;
}

.button_blue:hover {
  background-color: #0424ff;
}
.button_green:hover {
  background-color: #32c21b;
}
