<div class="page-cart__block__information-products">
  <div class="information-products__button-wrap">
    <button class="information-products__button">Перейти к оформлению</button>
    <p class="information-products__button-desc">Доступные способы и время доставки можновыбрать при оформлении
      заказа</p>
  </div>
  <div class="information-products__order-info">
    <div class="information-products__order-info--wrap">
      <div class="information-products__order-info__title">Ваша корзина</div>
      <div class="information-products__order-info__gr">{{cart.countProducts}} товара * {{cart.totalWeight}} gram</div>
    </div>

    <div class="information-products__order-info--wrap">
      <div class="information-products__order-info__title">Общая стоимость</div>
      <div class="information-products__order-info__price">{{cart.totalPrice}} Р</div>
    </div>
  </div>
</div>
