.page-cart__block__information-products {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.information-products__button {
  width: 100%;
  height: 50px;
  font: inherit;
  font-family: gte-bold, sans-serif;
  font-size: 14px;
  border: none;
  background-color: #005bff;
  color: #FFFFFF;
  outline: none;
  margin-bottom: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.information-products__button:hover {
  background-color: #0020ff;
}
.information-products__button-desc {
  font-size: 11px;
  line-height: 14px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  color: rgb(128, 128, 128);
  padding-bottom: 7px;
  margin-bottom: 14px;
}

.information-products__order-info--wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 14px;
  align-items: center;
}
.information-products__order-info--wrap:last-of-type {
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
  padding-bottom: 0px;
}
.information-products__order-info__title {
  font-family: gte-bold, sans-serif;
}
.information-products__order-info__gr {
  font-size: 12px;
  color: rgb(128, 128, 128);
}
.information-products__order-info__price {
  font-family: gte-bold, sans-serif;
}
