.register_btn{
  border: none;
  background-color: white;
  color: #005bff;
}
.entrance_btn {
  background-color: #005bff;
  color: white;
  border: none;
  border-radius: 2px;
  width: 90px;
  height: 40px;
  margin-bottom: 20px;
}
.login{
  margin-top: 40px;
  height: 30px;
  margin-bottom: 20px;
}
.password{
  height: 30px;
  margin-bottom: 20px;
}
