.custom-nav__title {
  margin-bottom: 10px;
  font-size: 18px;
}
.custom-nav__list {
  margin-bottom: 20px;
}
.custom-nav__list li a {
  font-size: 14px;
  color: #005bff;
  text-decoration: none;
}
.custom-nav__list li a:hover {
  text-decoration: underline;
}
.custom-nav__list li {
  margin-bottom: 5px;
}
