<div class="page-cart__block__selected-products">
  <div class="information-products__top-block">
    <label><input type="checkbox">Выбрать всё</label>
    <button class="information-products__top-block__button" type="button">Удалить выбранные</button>
  </div>

  <ul class="information-products__list">
    <li *ngFor="let product of productCartSum" class="information-products__item">
      <input type="checkbox">
      <div class="information-products__item__img"
           style="background-image: url({{product.imgUrl}})"></div>
      <div class="information-products__item__info">
        <h4 class="information-products__item__info__title">{{product.title}}</h4>
        <p class="information-products__item__info__gram">50 грам</p>
        <button class="information-products__item__info__button">Удалить</button>
      </div>
      <div class="information-products__item__price">{{product.price}}</div>
      <div class="information-products__item__amount-wrapper">
        <select name="" id="information-products__item__amount">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </li>

  </ul>
</div>
