@font-face {
  font-family: gte-bold;
  src: url('assets/font/GTEestiProDisplay-Bold.ttf') format("opentype");
}
@font-face {
  font-family: gte-reg;
  src: url('assets/font/GTEestiProDisplay-Regular.ttf') format("opentype");
}
body {
   margin: 0;
   padding: 0;
  font-family: gte-reg, sans-serif;
  background-color: rgba(255, 255, 255, 0);
 }
p {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
footer,
section {
}
.container {
  margin: 0 auto;
  max-width: 1472px;
  padding: 4px 28px;
}
li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
