.container{
    padding: 30px;
    margin-left: 50px;
}
.checkout{
    border: none;
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: blue;
    border-radius: 3px;
}
.information{
    color: gray;
    font-size: 10px;
}
.total_count_price{
  display: flex;
  justify-content: space-between;
}
