<div class="container">
    <div class="btn_checkout">
        <button class="checkout">
            Перейти к оформлению
        </button>
    </div>
    <span class="information">Доступные способы и время доставки можно выбрать при оформлении заказа</span>
    <hr>
    <div class="total_count">
      <div class="total_count_price">
        <strong>Ваша корзина</strong><span style="color: gray; font-size: 10px;"> товара | 250гр</span><br>
      </div>
        <span style=" color: gray; font-size: 10px;">Товары(4)</span><strong style="margin-left: 225px;">1868 Р</strong>
        <hr>
        <strong>Общая стоимость</strong><strong style="margin-left: 130px;">1196 Р</strong>
    </div>
</div>
