<app-header></app-header>
<div class="container">
  <div class="product_list">
    <div class="page_label">
        <span style="font-size: 30px;"><strong>Корзина</strong><span class="product_count"></span></span>
    </div>
  <ul class="shopping_cart_list">
    <li class="shopping_cart_list_item" *ngFor="let shoppingCartItem of userCartProducts">
      <div class="cart">
          <app-shopping-cart-product [shoppingCartProduct] = 'shoppingCartItem'></app-shopping-cart-product>
      </div>
    </li>
  </ul>
  </div>
  <div class="checkout">
    <app-checkout></app-checkout>
  </div>
</div>
