<h2 class="customer-info__title">Учётная запись</h2>
<ul class="customer-info__list">
  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Телефон</div>
      <div class="customer-info__item--wrapper_bottom">+7 903 174 81 62</div>
    </div>

    <a href="#" class="customer-info__item__link">Изменить</a>
  </li>

  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Телефон</div>
      <div class="customer-info__item--wrapper_bottom">+7 903 174 81 62</div>
    </div>

    <a href="#" class="customer-info__item__link">Изменить</a>
  </li>
</ul>



<h2 class="customer-info__title">Личные данные</h2>
<ul class="customer-info__list">
  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Телефон</div>
      <div class="customer-info__item--wrapper_bottom">+7 903 174 81 62</div>
    </div>

    <a href="#" class="customer-info__item__link">Изменить</a>
  </li>

  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Телефон</div>
      <div class="customer-info__item--wrapper_bottom">+7 903 174 81 62</div>
    </div>

    <a href="#" class="customer-info__item__link">Изменить</a>
  </li>

  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Телефон</div>
      <div class="customer-info__item--wrapper_bottom">+7 903 174 81 62</div>
    </div>

    <a href="#" class="customer-info__item__link">Изменить</a>
  </li>

  <a href="#" class="customer-info__item__link link_bottom">Изменить личные данные</a>
</ul>

<a href="#" class="customer-info__item__link link_red">Удалить профиль</a>
