.customer-info__title {
  font-size: 22px;
}
.customer-info__list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.customer-info__item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}
.customer-info__list li {
  margin-bottom: 20px;
}
.customer-info__list li:last-of-type {
  margin-bottom: 0px;
}
.customer-info__item--wrapper_top {
  color: rgb(128, 128, 128);
  font-size: 13px;
  margin-bottom: 3px;
  padding-left: 7px;
}
.customer-info__item__link {
  color: #005bff;
  text-decoration: none;
}
.customer-info__item__link:hover {
  text-decoration: underline;
}
.link_red {
  color: #c72a24;
}
.link_bottom {
  margin-top: 30px;
  padding-bottom: 40px;
  display: block;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.btn_customer {
  background-color: transparent;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  line-height: 0;
  border-radius: 5px;
  cursor: pointer;
}
.customer-info__item input[type="text"],
.customer-info__item input[type="email"],
.customer-info__item input[type="password"] {
  padding: 5px 10px;
  box-sizing: border-box;
  width: 82%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  font: inherit;
}
.customer-info__item--wrapper_bottom {
  padding: 5px 10px;
}
