<h2 class="customer-info__title">Учётная запись</h2>
<ul class="customer-info__list">
  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Почта</div>
      <div
        class="customer-info__item--wrapper_bottom"
        [ngStyle]="{
        display: changeMailToggle ? 'block' : 'none'}"
      >{{this.customerInfo.email}}</div>
      <input [ngStyle]="{
        display: changeMailToggle ? 'none' : 'block'}" type="email" placeholder="Введите новый email"
             [(ngModel)]="this.newMail">
    </div>

    <button [ngStyle]="{
        display: changeMailToggle ? 'block' : 'none'}" class="btn_customer customer-info__item__link"
            (click)="changeMail()">Изменить
    </button>
    <button [ngStyle]="{
        display: changeMailToggle ? 'none' : 'block'}" class="btn_customer customer-info__item__link"
            (click)="saveMail()">Сохранить
    </button>
  </li>

  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Телефон</div>
      <div
        class="customer-info__item--wrapper_bottom"
        [ngStyle]="{
        display: changePhoneToggle ? 'block' : 'none'}"
      >{{this.customerInfo.phone}}</div>
      <input [ngStyle]="{
        display: changePhoneToggle ? 'none' : 'block'}" type="email" placeholder="Введите телефон"
             [(ngModel)]="this.newPhone">
    </div>

    <button [ngStyle]="{
        display: changePhoneToggle ? 'block' : 'none'}"
            class="btn_customer customer-info__item__link"
            (click)="changePhone()">Изменить
    </button>

    <button [ngStyle]="{
        display: changePhoneToggle ? 'none' : 'block'}"
            class="btn_customer customer-info__item__link"
            (click)="savePhone()">Сохранить
    </button>
  </li>
</ul>


<h2 class="customer-info__title">Личные данные</h2>
<ul class="customer-info__list">
  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">ФИО</div>
      <div
        class="customer-info__item--wrapper_bottom"
        [ngStyle]="{
        display: changeFioToggle ? 'block' : 'none'}"
      >{{this.customerInfo.name}}</div>
      <input [ngStyle]="{
        display: changeFioToggle ? 'none' : 'block'}" type="email" placeholder="Введите ФИО"
             [(ngModel)]="this.newFio">
    </div>

    <button [ngStyle]="{
        display: changeFioToggle ? 'block' : 'none'}"
            class="btn_customer customer-info__item__link"
            (click)="changeFio()">Изменить
    </button>

    <button [ngStyle]="{
        display: changeFioToggle ? 'none' : 'block'}"
            class="btn_customer customer-info__item__link"
            (click)="saveFio()">Сохранить
    </button>
  </li>

  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Дата рождения</div>
      <div
        class="customer-info__item--wrapper_bottom"
        [ngStyle]="{
        display: changeDateToggle ? 'block' : 'none'}"
      >{{this.customerInfo.birthday}}</div>
      <input [ngStyle]="{
        display: changeDateToggle ? 'none' : 'block'}" type="email" placeholder="2000-00-00"
             [(ngModel)]="this.newDate">
    </div>

    <button [ngStyle]="{
        display: changeDateToggle ? 'block' : 'none'}"
            class="btn_customer customer-info__item__link"
            (click)="changeDate()">Изменить
    </button>

    <button [ngStyle]="{
        display: changeDateToggle ? 'none' : 'block'}"
            class="btn_customer customer-info__item__link"
            (click)="saveDate()">Сохранить
    </button>
  </li>

  <li class="customer-info__item">
    <div class="customer-info__item--wrapper">
      <div class="customer-info__item--wrapper_top">Пол</div>
      <div
        class="customer-info__item--wrapper_bottom"
        [ngStyle]="{
        display: changeGenderToggle ? 'block' : 'none'}"
      >{{this.customerInfo.gender}}</div>
      <input [ngStyle]="{
        display: changeGenderToggle ? 'none' : 'block'}" type="email" placeholder="Мужской\Женский"
             [(ngModel)]="this.newGender">
    </div>

    <button [ngStyle]="{
        display: changeGenderToggle ? 'block' : 'none'}"
            class="btn_customer customer-info__item__link"
            (click)="changeGender()">Изменить
    </button>

    <button [ngStyle]="{
        display: changeGenderToggle ? 'none' : 'block'}"
            class="btn_customer customer-info__item__link"
            (click)="saveGender()">Сохранить
    </button>
  </li>
</ul>

<button class="btn_customer customer-info__item__link link_red" (click)="deleteProfile()">Удалить профиль</button>
