<nav class="nav-customer-button">
  <ul class="nav-customer-button__list">
    <li class="nav-customer-button__item" *ngIf="!auth.isLogin">
      <img src="../../../assets/img/customer-icon.png" alt="" width="40" height="32" style="margin-top: 0px;">
      <a class="nav-customer-button__link" (click)="toggleShowWindowModal = !toggleShowWindowModal">Вход / Рег.</a>

      <app-modal-window [ngStyle]="{ display: toggleShowWindowModal ? 'block' : 'none' }">

        <app-modal-page-sign-in
          [ngClass]="{ showModalPage: toggleShowPageModal }"
          (logInUserData)="clickLogInButton($event)"
          (onPageSignInClickReg)="toggleShowPageModal = !toggleShowPageModal"
        ></app-modal-page-sign-in>

        <app-modal-page-reg
          (regDataOutput)="clickRegistrationButton($event)"
          [ngClass]="{ showModalPage: !toggleShowPageModal }"
          (onPageRegClickBack)="toggleShowPageModal = !toggleShowPageModal"
        ></app-modal-page-reg>

      </app-modal-window>


    <li class="nav-customer-button__item" *ngIf="auth.isLogin">
    <img src="../../../assets/img/customer-icon.png" alt="" width="40" height="32" style="margin-top: 0px;">
      <a class="nav-customer-button__link" routerLink="/customer">Михаил</a>
    </li>
    <li class="nav-customer-button__item nav-customer-button__item_button">
      <img src="../../../assets/img/shopping-cart.png" alt="" width="25" height="25" style="margin-top: 3px;">
      <a class="nav-customer-button__link" routerLink="/cart">Корзина<span>777</span></a>
    </li>
    <li class="nav-customer-button__item" *ngIf="auth.isLogin">
      <img src="https://www.svgrepo.com/show/100108/cross-out-mark.svg" alt="" width="15" height="15" style="margin-top: 10px;">
      <a class="nav-customer-button__link" routerLink="/customer" (click)="clickLogOutButton()">Выход</a>
    </li>
  </ul>
</nav>
