<div class="container">
    <div class="side_bar">
        <app-profile-side-bar></app-profile-side-bar>
    </div>
    <div class="accaunt_information">
        <div class="accaunt">
            <span><b>Учетная запись</b></span>
            <div class="telephone_number">
                <span style="color: gray; font-size: 10px;">телефон<br></span>
                <span>+78888888888</span>
                <button class="change">Изменить</button>
            </div>
            <div class="e-mail">
                <span style="color: gray; font-size: 10px;">Почта<br></span>
                <span>luckee11@yandex.ru</span>
                <button class="change">Изменить</button>
            </div>
        </div>
        <div class="personal_data">
            <span><b>Личные данные</b></span>
            <div class="name_surname">
                <span style="color: gray; font-size: 10px;">ФИО<br></span>
                <span>Дудукин Дмитрий Алексеевич</span>
            </div>
            <div class="birthday">
                <span style="color: gray; font-size: 10px;">Дата рождения<br></span>
                <span>01.11.1996</span>
            </div>
            <div class="gender">
                <span style="color: gray; font-size: 10px;">Пол<br></span>
                <span>Мужской</span>
            </div>
            <div class="profile_btn">
                <button class="change_profile">Изменить личные данные</button><br>
                <button class="delete_profile">Удалить профиль</button>
            </div>
        </div>
    </div>