.registrationCard {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.35);
  border-radius: 7px;
  width: 400px;
  margin: 0 auto 25px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.form-control {
  width: 100%;
  margin-bottom: 20px;
  /*display: flex;*/
  /*justify-content: center;*/
  text-align: center;
}
.form-control:last-of-type {
  margin-bottom: 0;
}
.form-control input {
  margin-top: 5px;
  font:inherit;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  outline: none;
}
.btn__registration {
  margin: 0 auto;
  display: block;
}

.registration__title {
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  padding: 0 30px;
  height: 25px;
  cursor: pointer;
  font-family: gte-bold, sans-serif;
  font-size: 14px;
  background-color: #0d5df3;
  border: none;
  border-radius: 7px;
  color: #fff;
  outline: none;
  transition: background-color 0.1s;
}
.btn:hover {
  background-color: #032878;
}
.btn__registration {
  height: 35px;
}


input.ng-invalid.ng-touched {
   border: 1px solid red;
 }
input.ng-valid.ng-touched {
   border: 1px solid green;
 }
.form-control small {
  color: red;
}
button[disabled] {
  background-color: grey;
  cursor: inherit;
}
button[disabled]:hover {
  background-color: grey;
}
