.container_has_gallery_title{
  display: flex;
}
.gallery{
  margin-right: 200px;
}
.product_information_title{
  flex: 1;
  width: 600px;
  padding-top: 20px;
}
.gallery_main_photo, .main_photo{
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-bottom: 30px;
}
.anchor_btn{
  color: #005bff;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
.button_anchor{
  display: flex;
  justify-content: space-between;
}
.container_right_side_bar{
  display: flex;
  margin-top: 20px;
  width: 270px;
  height: 150px;
  border-radius: 3px;
  border: 1px solid rgba(153, 151, 151, 0.85);
  text-align: center;
}
.container_right_side_bar button{
  position: relative;
  top: 90px;
  left: -30px;
  border: none;
}
.toCart{
  background-color: rgba(34,142,34,0.92);
  height: 40px;
  width: 160px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  color: white;
}
.addToCart{
  background-color: rgba(29, 92, 224, 0.92);
  height: 40px;
  width: 60px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
}
.product_price{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: red;
}
