.choise_left {
  left: -250px;
}
.choise_reg {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 30px;
}
.choise_sign_in {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 30px;
}
.choise_btn {
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-family: gte-bold, sans-serif;
  font-size: 14px;
  background-color: #0d5df3;
  border: none;
  border-radius: 7px;
  color: #fff;
  outline: none;
  transition: background-color 0.2s;
}
.choise_btn:hover {
  background-color: #013ebb;
}
.choise h3 {
  text-align: center;
  width: 100%;
}
.choise_btn-back {
  width: 75%;
  height: 25px;
  margin: 0 auto;
}
.form_sign_in input {
  font: inherit;
  margin-bottom: 10px;
}
.form_sign_in input[type="text"],
.form_sign_in input[type="email"],
.form_sign_in input[type="password"] {
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.choise_btn-form {
  height: 33px;
}

