<div class="container">
    <div class="logo">
        <a routerLink='/'><img src="../assets/logo.png" alt=""></a>
    </div>
    <div class="search-form">
        <app-search-form></app-search-form>
    </div>
    <div class="authorization-and-card">
        <div class="registration">
            <a class="header_links" routerLink='#'>
                <img id="registration-logo" src="../assets/man.png" alt=""><br>
                <span>Регистрация</span>
            </a>
        </div>
        <div class="authorization">
            <a class="header_links" routerLink='/profile'>
                <img id="authorization-logo" src="../assets/man.png" alt=""><br>
                <span>Дмитрий</span>
            </a>
        </div>
        <div class="shopping-card">
            <a class="header_links" routerLink='/shoppingCart'>
                <img id="shopping-card-logo" src="../assets/shopping-card.png" alt=""><br>
                <span>Корзина</span>
            </a>
        </div>
    </div>
</div>