<app-header (onClickSearchButtonBridge)="showSearchItems($event)"></app-header>
<div class="container">


  <div class="product-item__item" *ngIf="toggleSearchInfo === true">
    <p class="product-item__search-info" *ngIf="!productsOnPage$.length; else productSearchOn">По запросу <b>{{nameSearch}}</b> не найдено товаров</p>
    <ng-template #productSearchOn>
      <p class="product-item__search-info" *ngIf="productsOnPage$.length;">По запросу <b>{{nameSearch}}</b> найдено <b>{{productsOnPage$.length}}</b> товаров</p>
    </ng-template>
  </div>


  <div class="product-item__list">
    <div *ngFor="let product of productsOnPage$" class="product-item__item">
      <app-product-item [productItem]="product"></app-product-item>
    </div>
  </div>

</div>
